*.json filter=lfs diff=lfs merge=lfs -text
morpheus-apollo-3-7894230.json filter=lfs diff=lfs merge=lfs -text
morpheus-apollo-3-9238240.json filter=lfs diff=lfs merge=lfs -text
desmos-mainnet-1160425.json filter=lfs diff=lfs merge=lfs -text
desmos-mainnet-280370.json filter=lfs diff=lfs merge=lfs -text
desmos-mainnet-4602480.json filter=lfs diff=lfs merge=lfs -text
desmos-mainnet-5363795.json filter=lfs diff=lfs merge=lfs -text
desmos-mainnet-686400.json filter=lfs diff=lfs merge=lfs -text
desmos-mainnet-780000.json filter=lfs diff=lfs merge=lfs -text
